name: release-please
on:
  push:
    branches: ["main"] # when PRs merge to main

permissions:
  contents: write # create tags & releases
  pull-requests: write # manage the Release PR

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: .github/release-please-config.json
          manifest-file: .release-please-manifest.json
